// viewports

$lg: 1920;
$sm: 375;

// viewports
$font-main: 'Product Sans, -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif';
$font-alt: 'Druk Wide, Iowan Old Style, Apple Garamond, Baskerville, Times New Roman, Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol';

// colors
$black: #111210;
$white: #fff;