<footer id="h-footer" class="pf bottom left right">
  <div id="h-footer-wrapper" class="container df jcb aic">
    <div id="h-footer--details" class="ttu">VIDEOGRAPHER BASED IN AUSTRALIA ©2022</div>
    <ul id="h-socials--list" class="df aic">
      <li class="h-socials--item">
        <a class="link pea" rel="noreferrer noopener" target="_blank" href="{{ contact.facebook }}">
          <svg>
            <use xlink:href="#facebook-icon"></use>
          </svg>
        </a>
      </li>
      <li class="h-socials--item">
        <a class="link pea" rel="noreferrer noopener" target="_blank" href="{{ contact.instagram }}">
          <svg>
            <use xlink:href="#instagram"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</footer>