<div id="cursor" class="pf z8 pen">
  <div id="crosshair">
    <div class="pf" id="crosshair-x"></div>
    <div class="pf" id="crosshair-y"></div>
    <div class="pf" id="crosshair-plus--x"></div>
    <div class="pf" id="crosshair-plus--y"></div>
  </div>
</div>