<footer id="footer" class="z8">
    <div id="footer-wrapper" class="df jcb">
        <div id="footer-copyright">
            © 2022 WULF, All Rights Reserved
        </div>
        <ul id="footer-links" class="df">
            <li>
                <a href="/" class="link link-solid">Privacy</a>
            </li>
            <li>
                <a href="https://www.northofzero.dev/" rel="noreferrer nofollow" target="_blank" class="link link-solid">Credits</a>
            </li>
        </ul>
    </div>
</footer>