<footer id="footer" class="z8">
    <div id="footer-wrapper" class="df jcb">
        <div id="footer-copyright">
            FILMMAKER BASED IN CHENNAI © 2024
        </div>
        <ul id="footer-links" class="df">
            <li>
                <a href="mailto:bpsreekrishna@gmail.com" class="link link-solid">Email</a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/sree-krishna-b-p/" rel="noreferrer nofollow" target="_blank" class="link link-solid">LinkedIn</a>
            </li>
        </ul>
    </div>
</footer>