<nav id="nav" class="nav z8 pf top left right">
  <div id="nav-wrapper" class="container df aic jcb">
    <div id="nav-left" class="df aic">
      <div id="nav-logo" class="font-alt ttu bg-block pea">
        <a href="/">Sree</a>
      </div>
      <div id="nav-list--left">
        <div class="df aic">
          <a class="link pea nav-link--item ttu" href="/about/" >About</a>
          <div class="visual-sep" aria-hidden="true">/</div>
          <a href="/about/#contact" class="link pea nav-link--item ttu">Contact</a>
        </div>
      </div>
    </div>

    <div id="nav-right">
      <div class="oh pr pea">
        <button role="button" id="nav-grid--toggle" class="ttu cp df jcb aic">
          <svg class="nav-toggle--icon" id="">
            <use xlink:href="#slider-icon"></use>
          </svg>
          <svg class="nav-toggle--icon" id="">
            <use xlink:href="#grid-icon"></use>
          </svg>
        </button>
        <div id="nav-case--close" class="pa right">
          <a href="/work/" class="ttu link">Close</a>
        </div>
      </div>
    </div>

  </div>
</nav>